@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IdentityRole

@{
    ViewBag.Title = "Delete";
}

<div style="width:700px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>Are you sure you want to delete this Role?</b>
        </div>
        <div class="panel-body">
            <div>
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                </dl>
            </div>
            <div>
                <form asp-action="Delete" method="post" asp-route-id="@Model.Id" asp-antiforgery="true">
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-warning">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>