@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Index";
}
@*@Html.ActionLink("Add Role", "Create", new { }, new { @class = "btn btn-success" })*@
<a asp-action="Create" class="btn btn-success">Add Role</a>
<div class="panel panel-primary">
    <div class="panel-heading">
        Roles
    </div>


    <div class="panel-body">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*We don't want to edit/remove the Administrator role (omnipotent role)
                        To remove the edit/remove functionality in this case, we'll use a tag helper to clear out the contents of the <td>*@
                        
                        <td role-name="@item.Name" user-name=""> 
                            <a asp-action="Edit" asp-route-id="@item.Id" class="glyphicon glyphicon-edit" title="Edit the role"></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="glyphicon glyphicon-remove" title="Delete the role"></a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="alert alert-danger">
                No roles defined in the system!
            </div>

        }
    </div>
</div>